<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head></head>

<h1 align="center">My Daily Bread</h1>

<div align="center">

<%= will_paginate %>

</div>

<%= render 'article', obj: @articles %>

<div align="center">

<%= will_paginate %>
<%#= render 'profiles/post_dashboard', posts: @articles %>
</div>