
<body>

<div class="container">

<footer class="footer">

<small>
<p>© 2018 KAATCH-UP all Rights Reserved © Ruby on Rails</p>

</small>

<nav>

<ul>

<li></li>

</ul>
</nav>

</footer>
</div>
</body>