<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

      <li><%#=link_to 'Articles',articles_path%></li>
       
       
         <!--<%# if logged_in? %>-->
         <!--<li><%#= link_to "Notifications", notifications_path %></li>-->
         <!--<%# end %>-->
        
 <%#if logged_in?%>
 <%# end %>
<%#= link_to "My Friends", my_friends_path(current_user) %>
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications<span class="caret"></span></a>-->
<!--<ul class="dropdown-menu">-->
<!--<%# @user ||= current_user %>-->
<!--<li><%#= render current_user.notifications %></li>-->
<!--<li><%#= render current_user.notifications.order('created_at DESC').last(5) %></li>-->
<!--<li><%#= render  current_user.notifications.where(read: false) %></li>-->
<!--<li><%#= @user.notifications.count %></li><strong>Notifications</strong>-->
<!--<li><%#= link_to 'View All', notifications_path %></li>-->
<!--</ul>-->
<!--</li>-->
<!--- if user_signed_in?-->
<!--          %li-->
<!--            .dropdown.notification-dropdown-->
<!--              %button.btn.btn-default.dropdown-toggle{ type: 'button', id: 'dropdownMenu1', data: { toggle: 'dropdown' }, 'aria-haspopup': true, 'aria-expanded': true }-->
<!--                5-->
<!--                %span.glyphicon.glyphicon-flag-->
<!--              %ul.dropdown-menu{ 'aria-labelledby': 'dropdownMenu1' }-->
<!--                %li.dropdown-header.text-center Notifications-->
<!--                %li-->
<!--                  %a{ href: '#' } Notification 1-->
<!--                %li-->
<!--                  %a{ href: '#' } Notification 2-->
<!--          %li-->
<!--            = link_to "New Post", new_post_path-->



<!--<%#= form_tag(search_users_path, :method => "get", class: 'navbar-form navbar-left') do %>  -->
<!--  <div class="input-group">  -->
<!--    <%#= search_field_tag :user, params[:user], placeholder: "Search Article or Member", class: "form-control" %>  -->
<!--    <div class="input-group-btn">  -->
<!--    </div>  -->
<!-- </div>  -->
<!--<%# end %>-->


    
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<body>
    
    
<!-- Load Facebook SDK for JavaScript -->

</body>